[submodule "plugins/rinari"]
	path = plugins/rinari
	url = http://github.com/eschulte/rinari.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = http://github.com/m2ym/auto-complete.git
